In [3]:
!pip install yfinance
from datetime import datetime

Requirement already satisfied: yfinance in c:\users\shaik\anaconda3\lib\site-packages (0.2.28)
Requirement already satisfied: pytz>=2022.5 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: html5lib>=1.1 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: requests>=2.31 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=1.3.0 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\shaik\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in c:\users\shaik\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: webencodings in c:\users\shaik\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\shaik\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\shaik\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shaik\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shaik\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shaik\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\shaik\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.9)

In [7]:
import yfinance as yf
end=datetime.now()
start=datetime(end.year, end.month-1,end.day)
apple_stock=yf.download("AAPL",start,end)
apple_stock.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-14,177.970001,179.690002,177.309998,179.460007,179.460007,43675600
2023-08-15,178.880005,179.479996,177.050003,177.449997,177.449997,43622600
2023-08-16,177.130005,178.539993,176.500000,176.570007,176.570007,46964900
2023-08-17,177.139999,177.509995,173.479996,174.000000,174.000000,66062900
2023-08-18,172.300003,175.100006,171.960007,174.490005,174.490005,61114200

In [9]:
window_size = 3
apple_stock['SMA_3'] = apple_stock['Close'].rolling(window=window_size).mean()

In [11]:
apple_stock.head()

,Open,High,Low,Close,Adj Close,Volume,SMA_3
Date,,,,,,,
2023-08-14,177.970001,179.690002,177.309998,179.460007,179.460007,43675600,NaN
2023-08-15,178.880005,179.479996,177.050003,177.449997,177.449997,43622600,NaN
2023-08-16,177.130005,178.539993,176.500000,176.570007,176.570007,46964900,177.826670
2023-08-17,177.139999,177.509995,173.479996,174.000000,174.000000,66062900,176.006668
2023-08-18,172.300003,175.100006,171.960007,174.490005,174.490005,61114200,175.020004

In [14]:
apple_stock['EMA_3'] = apple_stock['Close'].ewm(span=window_size, adjust=False).mean()
apple_stock.head()

,Open,High,Low,Close,Adj Close,Volume,SMA_3,EMA_3
Date,,,,,,,,
2023-08-14,177.970001,179.690002,177.309998,179.460007,179.460007,43675600,NaN,179.460007
2023-08-15,178.880005,179.479996,177.050003,177.449997,177.449997,43622600,NaN,178.455002
2023-08-16,177.130005,178.539993,176.500000,176.570007,176.570007,46964900,177.826670,177.512505
2023-08-17,177.139999,177.509995,173.479996,174.000000,174.000000,66062900,176.006668,175.756252
2023-08-18,172.300003,175.100006,171.960007,174.490005,174.490005,61114200,175.020004,175.123129

In [16]:
!pip install TA-Lib
import talib

Collecting TA-Lib
  Using cached TA-Lib-0.4.28.tar.gz (357 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Requirement already satisfied: numpy in c:\users\shaik\anaconda3\lib\site-packages (from TA-Lib) (1.21.5)
Building wheels for collected packages: TA-Lib
  Building wheel for TA-Lib (PEP 517): started
  Building wheel for TA-Lib (PEP 517): finished with status 'error'
Failed to build TA-Lib

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\shaik\anaconda3\python.exe' 'C:\Users\shaik\anaconda3\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' build_wheel 'C:\Users\shaik\AppData\Local\Temp\tmpzyu7nqn6'
       cwd: C:\Users\shaik\AppData\Local\Temp\pip-install-5zkuztar\ta-lib_1779c2e0a8ca4f2ba70d773e50f22270
  Complete output (14 lines):
  <string>:77: UserWarning: Cannot find ta-lib library, installation may fail.
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-39
  creating build\lib.win-amd64-cpython-39\talib
  copying talib\abstract.py -> build\lib.win-amd64-cpython-39\talib
  copying talib\deprecated.py -> build\lib.win-amd64-cpython-39\talib
  copying talib\stream.py -> build\lib.win-amd64-cpython-39\talib
  copying talib\__init__.py -> build\lib.win-amd64-cpython-39\talib
  running build_ext
  building 'talib._ta_lib' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  ----------------------------------------
  ERROR: Failed building wheel for TA-Lib
ERROR: Could not build wheels for TA-Lib which use PEP 517 and cannot be installed directly

ModuleNotFoundError: No module named 'talib'

In [ ]:
import numpy as np
close_prices = np.array(df['Close'])
apple_stocks['RSI']=talib.RSI(close_prices)
apple_stocks.head()